aniso8601==9.0.1
argcomplete==3.0.5
cfn-flip==1.3.0
charset-normalizer==3.1.0
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16
contourpy==1.0.7
cycler==0.11.0
durationpy==0.5
filelock==3.10.7
Flask==2.2.3
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
fonttools==4.39.3
ftfy==6.1.1
hjson==3.1.0
httptools==0.5.0
idna==3.4
imageio==2.27.0
importlib-metadata==6.1.0
importlib-resources==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
kappa==0.6.0
kiwisolver==1.4.4
lazy_loader==0.2
MarkupSafe==2.1.2
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.1
numpy==1.24.2
packaging==23.0
Pillow==9.5.0
placebo==0.9.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-slugify==8.0.1
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
regex==2023.3.23
requests==2.28.2
s3transfer==0.6.0
scikit-image==0.20.0
scipy==1.9.1
six==1.16.0
sympy==1.11.1
text-unidecode==1.3
tifffile==2023.3.21
toml==0.10.2
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
troposphere==4.3.2
typing_extensions==4.5.0
urllib3==1.26.15
uvloop==0.17.0
wcwidth==0.2.6
websockets==11.0.1
Werkzeug==2.2.3
zappa==0.56.1
zipp==3.15.0
